.DS_Store
kdtree-matlab-build-desktop-Desktop_Qt_4_8_1_for_GCC__Qt_SDK__Debug/
.project
.cproject
CMakeFiles
CMakeCache.txt
cmake_install.cmake
src/Makefile
build/*
CMakeLists.txt.user
*.exe
*.mexmaci64